<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <!-- Apache log4net configuration -->
  <log4net debug="false" xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/log4net.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <appender name="DebugLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!-- ${TMP}\\ -->
      <file value="Debug" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--<threshold value="FATAL" />-->
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="'.'yyyy-MM-dd'.log'" />
      <!--<maxSizeRollBackups value="5" />
      <maximumFileSize value="512KB" />-->
      <staticLogFileName value="false" />
      <!-- Please refer to http://logging.apache.org/log4net/release/sdk/log4net.Layout.PatternLayout.html to change the pattern -->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{u} [%-5level] {%logger} %property{NDC}, %message%newline" />
      </layout>
    </appender>

    <appender name="ApiLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!-- ${TMP}\\ -->
      <file value="ApiClient" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--<threshold value="FATAL" />-->
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="'.'yyyy-MM-dd'.log'" />
      <!--<maxSizeRollBackups value="5" />
      <maximumFileSize value="512KB" />-->
      <staticLogFileName value="false" />
      <!-- Please refer to http://logging.apache.org/log4net/release/sdk/log4net.Layout.PatternLayout.html to change the pattern -->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{u} [%-5level] {%logger} %property{NDC}, %message%newline" />
      </layout>
    </appender>

    <appender name="TopicLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="TopicMessages" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--<threshold value="FATAL" />-->
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="'.'yyyy-MM-dd'.log'" />
      <!--<maxSizeRollBackups value="5" />
      <maximumFileSize value="512KB" />-->
      <staticLogFileName value="false" />
      <!-- Please refer to http://logging.apache.org/log4net/release/sdk/log4net.Layout.PatternLayout.html to change the pattern -->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{u} [%-5level] {%logger} %property{NDC}, %message%newline" />
      </layout>
    </appender>

    <!-- The default appender and default level -->
    <root>
      <level value="ALL" />
      <appender-ref ref="DebugLogFileAppender" />
    </root>

    <logger name="Salesforce.StreamingAPI.StreamingAPIClient" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="ApiLogFileAppender" />
    </logger>

    <logger name="PushTopicMessages" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="TopicLogFileAppender" />
    </logger>
  </log4net>

  <system.diagnostics>
    <sharedListeners>
      <add name="log4net" type="Salesforce.StreamingAPI.Log4NetTraceListener, Salesforce.StreamingAPI" />
    </sharedListeners>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <clear />
        <add name="log4net" />
      </listeners>
    </trace>

    <sources>
      <!-- Verbose | Information -->
      <source name="System.Net" switchValue="Warning">
        <listeners>
          <add name="log4net" />
        </listeners>
      </source>
      <source name="System.Net.Sockets" switchValue="Error">
        <listeners>
          <add name="log4net" />
        </listeners>
      </source>
      <source name="System.Net.Cache" switchValue="Error">
        <listeners>
          <add name="log4net" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <appSettings>
    <!-- Salesforce Remote Access -->
    <add key="Salesforce_Consumer_Key" value="3MVG9Y6d_Btp4xp6PMlnX1OKcnJMQLIKda5uYSSIjwVZE6tg.IrwQj294CtVsx5Ztl68bSW2__5zBL9NybPEU" />
    <add key="Salesforce_Consumer_Secret" value="2549723021432212613" />
    <add key="Salesforce_OAuth_RedirectUrl" value="https://login.salesforce.com/services/oauth2/success" />

    <!-- Salesforce Rest API (version 27.0) -->
    <add key="Salesforce_OAuth_TokenUrl" value="https://login.salesforce.com/services/oauth2/token" />
    <add key="Salesforce_StreamingAPI_Endpoint" value="/cometd/27.0/" />

    <!-- Test Data -->
    <!-- AllLeads: "Select Id, Name, Company, Phone, MobilePhone, LeadSource From Lead" -->
    <!-- AllOpportunities: "Select Id, Name, LeadSource, StageName, Type From Opportunity" -->
    <add key="Salesforce_Test_Accounts" value='[
      {
        UserName: "sforce.developer1@your-email.com",
        Password: "xxxxxx",
        PushTopics: ["AllLeads", "AllOpportunities"]
      },
      {
        UserName: "sforce.developer2@your-email.com",
        Password: "xxxxxx",
        PushTopics: ["AllOpportunities"]
      }
    ]' />

  </appSettings>

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="32768" />
    </connectionManagement>
  </system.net>
</configuration>
